.btn{
  width: 75px;
  padding: 10px 0px;
  border-radius: 20px;
  display: block;
  margin-top: 10px;

 //herança, so vai funcionar copm a classe btn no elemento. preciso de duas classes na tag
  // &.btn-roxo{
  //   background-color: purple;
  //   color: white;
  // }

  &.btn-amarelo{
    background-color: yellow;
  }
  &.btn-azul{
    background-color: blue;
    color: white;
  }


}

// extend so consigo usar com uma classe na tag


.btn-roxo{
  @extend .btn;   // vai pegar os elementos da classe btn
  background-color: purple;
  color: white;
}